::-webkit-scrollbar {
    width: 8px;
    margin-right: 10%;
}

::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.50);
    border-radius: 10px;
    transition-duration: 500ms;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(180, 180, 180, 0.50);
}

::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.50);
    border-radius: 10px;
    transition-duration: 500ms;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(98, 98, 98, 0.50);
}